body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.container {
    width: 500px;
    height: 500px;  
    display: grid;
    border: 1px solid black;
}

/* .container > div {
    background-color: white;
    height: auto;
    flex: 1 1 auto; */
  
    /* make columns vertical flexboxes */
    /* display: flex;
    flex-direction: column;
} */
  
/* .container > div > * { */
    /* make rows evenly distributed */
    /* flex: 1;
} */

/* .row {
    padding: 9px;
}

.black {
    background-color: black;
}
.white {
    background-color: white;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
} */